<div class="copyRight">
    Power by ken blog vcotime.com
</div>
<div class="article scroll">
    <ul>
        <li>
            <a class="top">导航</a>
        </li>

        <li><a ng-click="$spMenu.toggle()" ng-class="{true:'act', false:''}[navPath=='/activity']" nav-to="/activity">
            <span class="icon magic"></span>优惠活动</a></li>
        <li><a ng-click="$spMenu.toggle()" ng-class="{true:'act', false:''}[navPath=='/news']" nav-to="/news">
            <span class="icon info-sign"></span>
            新闻动态</a></li>
        <li><a ng-click="$spMenu.toggle()" ng-class="{true:'act', false:''}[navPath=='/brand']" nav-to="/brand">
            <span class="icon tag"></span>
            品牌介绍</a></li>
    </ul>
</div>